@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 1px;
  border-radius: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: skyblue;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle on active */
::-webkit-scrollbar-track:hover {
  background: transparent;
}
